pygame==2.1.0
gym==0.25.0
rlds
dm-haiku
dm-tree
dm-control
optax
dm-env
flax
tensorflow==2.8.0
numpy
dm-launchpad==0.5.2
trfl
jax>=0.4.3
pillow
tensorflow_probability==0.15.0
dm-sonnet
tensorflow_datasets==4.6.0
bsuite
chex
rlax
typing-extensions
dm-reverb==0.7.2
absl-py
gym[atari]
atari-py
