jaxlib==0.4.3
rlds
jax==0.4.3
dm-launchpad==0.5.2
dm-haiku==0.0.10
dm-reverb==0.7.2
optax
gym==0.25
bsuite
atari-py
pillow
pygame==2.1.0
tensorflow_probability==0.15.0
dm-tree
numpy>=1.20
dm-sonnet==2.0.0
trfl
flax
dm-control
dm-env
gym[atari]
typing-extensions
chex==0.1.6
rlax
tensorflow_datasets==4.6.0
absl-py
tensorflow==2.8.0
